body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #202124;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    overflow: hidden;
}

.error-content {
   
    padding: 40px;
    border-radius: 8px;
    max-width: 500px;
}

img {
    width: 80px;
    height: 80px;
   
}

h1 {
    font-size: 24px;
    color: #9aa0a6;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #9aa0a6;
    margin-bottom: 10px;
}

.para.dns{
    margin-top: 30px;
    color: #9aa0a6;
}

.url {
    color: #8ab4f8;
}



a{
    text-decoration: none;
    color: #8ab4f8;
}

ul {
   
    color: #9aa0a6;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

.myButton1{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    border: 0;
    background-color: #8ab4f8;
    border-radius: 20px;
    padding: 8px 16px;
    float: left;
    margin-top: 40px;
    cursor: pointer;
    color: #202124;
    text-align: center;
    line-height: inherit;
    align-items: center;
}

.myButton2{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    border: 0.5px solid #9aa0a6;
    background-color: transparent;
    color: #8ab4f8;
    border-radius: 20px;
    padding: 8px 16px;
    float: right;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    line-height: inherit;
    align-items: center;
}

@media screen and (max-width: 480px) {
    html {
      font-size: 14px;
    }
  
    body {
      font-size: 14px;
      height: 80vh;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .para{
      font-size: 14px;
    }
  
    .hide-text{
      display: none;
    }
  
    .myButton1{
      width: 100%;
      margin-top: 10px; /* Adjusted margin for smaller screens */
    }
  
    .myButton2{
      width: 100%;
      margin-top: 10px; /* Adjusted margin for smaller screens */
    }
}

/* Additional styling for larger screens if needed */
@media screen and (min-width: 481px) {
    .myButton1 {
        width: auto; /* Reset width for larger screens */
    }
    
    .myButton2 {
        width: auto; /* Reset width for larger screens */
    }
}
